/* Input */
input {
    width: 100%;
    padding: 10px 16px;
    border: none; /* Remove the default border */
    border-bottom: 1px solid #ddd; /* Add a bottom border only */
    border-radius: 0; /* Remove border radius */
    box-sizing: border-box;
  }
  
  /* Input on hover */
  input:hover {
    border-bottom-color: #ccc;
    outline: none;
  }
  
  /* Input on focus */
  input:focus {
    border-bottom-color: #6699cc;
    outline: none;
    box-shadow: none; /* Remove the default focus shadow */
  }
  
  
  /* Label */
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }

  a {
    text-decoration: none !important;
  }
  